@import "tailwindcss";
/* Add this block to your main CSS file (e.g., src/index.css or src/App.css) */
.custom-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.custom-scrollbar {
    -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;     /* Hide scrollbar for Firefox */
}
/* product order k liye h */
.input-style {
  @apply border border-gray-300 rounded-lg py-3.5 px-4 w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all;
}